*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


header{
    height:8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nuevo-dep{
    padding: 15px;
}
nav{
    height: 6vh;
    background-color: rgb(182, 213, 248);
    display: flex;
    align-items: flex-end;

}

main{
    width: 100%;
    height: 80vh;
    /*background-image: url(/img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: aliceblue;
    overflow-y: scroll;
}

.h3{
    text-align: center;
}

header, nav{ 
    position: sticky;
    top: 0;
}

/*Formulario departamento*/
#agregar-dep{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;

}
.formDep{
    width: 40%;
    display:flex ;
    gap: 25px;
}
/*Tabla*/
.addDep, .bi-eye{
    background-color: transparent;
    border: none;
}



/*Formulario ciudad*/
.formCiudad{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#coordenadas{
    display: flex;
}

/*Ciudades*/

.cardCiudades{
    display: grid;
    grid-template-columns: auto auto auto;

    justify-content: center;
    gap: 25px

}
.btnsCiudad{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.delete-ciudad{
    width: 50px;
}

@media (max-width: 1285px) {
    /* … */
    .cardCiudades{
        display: grid;
        grid-template-columns: auto auto auto ;
        justify-content:center;
        padding: 25px;
        gap: 20px;
    }
}
@media (max-width: 975px) {
    /* … */
    .cardCiudades{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 25px;
        gap: 20px;
    }
}
@media (max-width: 685px) {
    /* … */
    .formDep{
        width: 60%;
        display:flex ;
        gap: 25px;
    }
}

@media (max-width: 450px) {
    /* … */
    .formDep{
        width: 90%;
        display:flex ;
        gap: 25px;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

footer{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

}